{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid d-grid p-5">
    <div class="container-fluid row text-center">
        <h1 class="col">MAXI TITLE</h1>
    </div>
    <div class="row align-items-center">
        <div class="col ps-5">
            <div class="container-fluid justify-content-center">
                <h2>Quelque définitions utiles avant de commencer :</h2>
                <div class="container-fluid d-grid">
                    <div class="row">
                        <div class="col card me-3">
                            <h3 class="card-title">Le climat, c'est quoi ?</h3>
                            <p>
                                La notion de "climat" désigne l'ensemble des conditions météorologiques moyennes sur
                                une longue période, comme la température, l'humidité, les précipitations, etc.
                                En d'autres termes, c'est une vision globale des conditions atmosphériques dans une région donnée.
                            </p>
                        </div>
                        <div class="col card ms-3">
                            <h3 class="card-title">L'effet de serre, c'est quoi ?</h3>
                            <p>
                                Le système terrestre est en équilibre entre l’énergie solaire reçue et les radiations
                                renvoyées vers l’espace, le gaz à effet de serre forme une “barrière” permettant de retenir
                                la chaleur provenant du soleil. De la même façon qu’une serre qui retient la chaleur à l’aide des parois de verre.

                            </p>
                        </div>
                    </div>
                    <br><br>
                    <div class="container-fluid d-grid">
                        <div class="row">
                            <div class="col card me-3">
                                <h3 class="card-title">Quel est le rôle de l'effet de serre ?</h3>
                                <p>
                                    L’effet de serre permet de réguler la température terrestre en maintenant
                                    une température stable à +15°C, sans l’effet de serre il ferait -18°C.
                                    Il est présent en faible quantité dans l’atmosphère et la moindre modification de celle-ci
                                    peut avoir des conséquences sur la température moyenne globale

                                </p>
                            </div>
                            <div class="col card ms-3">
                                <h3 class="card-title">Le GIEC c'est quoi ?</h3>
                                <p>
                                    Le GIEC (Groupe d’experts intergouvernemental sur l’évolution du climat) est un organisme
                                    de l’ONU chargé d’évaluer, à travers la publication régulière de rapports,
                                    l’ensemble des connaissances scientifiques relatives au changement climatique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <img src="{% static 'img/planeteenfeu.jpg' %}" alt="fireearth" class="img-fluid col">
    </div>
</div>

<div class="card rounded-0 d-grid bg-primary-light ps-3">
    <div class="card-body text-dark col pt-5 pb-5">
        <h1 class="card-title row">Qui est responsable ?</h1>
        <p class="card-text row">
            Dès son premier rapport en 1990, le GIEC a étudié l’hypothèse disant que les humains sont responsables du
            réchauffement climatique et l’a confirmé en 2021.<br>
            Les activités humaines sont, sans aucun doute, responsables du réchauffement climatique.
        </p>
        <a href="/dark" class="btn btn-secondary text-dark row">Explorer les conséquences...</a>
    </div>
    <p>Ou continuez à défiler pour constater les efforts de l'homme pour améliorer les choses.</p>
</div>

<div class="container-fluid d-grid flex-column p-5">
    <div class="container-fluid row align-items-center pb-3">
        <img src="{% static 'img/actiongraph.jpg' %}" alt="placeholder" class="img-fluid col">
        <div class="container-fluid justify-content-center p-5 col">
            <h2>Quelles actions peuvent être entreprises ?</h2>
            <p>
                Malgré toutes les mauvaises nouvelles que nous entendons sur le changement climatique,
                le rapport du GIEC souligne qu’il existe de nombreuses solutions dans tous les secteurs
                pour réduire les émissions de moitié d'ici à 2030.
            </p>
            <br>
            <h3>L'une des meilleures solutions pour réduire les émissions de gaz à effet de serre</h3>
            <br>
            <p>
                Le rapport du GIEC montre que si nous modifions nos habitudes de consommation et de production, il est possible
                de réduire les émissions de gaz à effet de serre de 40 à 70% d'ici 2050.
                Les mesures mises en avant préconisent la sobriété, celles-ci permettant de limiter la demande tout en préservant le bien-être.
                Le rapport classe les stratégies d'atténuation en "Éviter - Changer - Améliorer".
            </p>
        </div>
    </div>

    <div class="container-fluid row align-items-center pt-3">
        <div class="container-fluid justify-content-center col p-5">
            <h3>De vraies et de fausses solutions pour l’élimination du carbone</h3>
            <p>
                L'atténuation du changement climatique implique aussi l'élimination du carbone existant dans l'atmosphère.
                Cela peut se faire par la plantation d'arbres ou l'utilisation de technologies de capture et de stockage du carbone.
                Cependant, ces solutions sont réservées à l’absorption des émissions résiduelles.
                <br>
                Certaines technologies permettant l’élimination sont majoritairement spéculatives et présentent des risques importants pour la biodiversité,
                la sécurité et les droits humains, comme le BECCS (bioénergie, captage et stockage du carbone), qui peut entraîner des conflits pour les ressources.
                <br><br>
                Le rapport met en avant que la meilleure option est de concentrer les efforts sur la réduction des émissions
                et la conservation des écosystèmes riches en biodiversité, plutôt que de dépendre de technologies potentiellement problématiques.

            </p>
        </div>
        <!--<img src="{% static 'img/placeholder.jpg' %}" alt="placeholder" class="img-fluid col">-->
    </div>
</div>

<div class="card rounded-0 d-grid text-light bg-dark ps-3">
    <div class="card-body pt-5 pb-5 col">
        <h1 class="card-title row">Comment réduire son impact sur le climat</h1>
        <p class="card-text row">
            Le plus simple pour réduire ses émissions est déja d’être au courant de notre impact,
            cliquez sur le bouton ci-dessous pour calculer votre impact sur le climat.
        </p>
        <a href="/calculateur" class="btn btn-primary text-light row">Calculer votre impact</a>
    </div>
    <p>Ou continuez votre lecture avec les mesures entreprises à échelle mondiale</p>
</div>

<!--finito-->

<div class="container-fluid d-grid flex-column p-5">
    <div class="container-fluid row align-items-center pt-3">
        <div class="col card me-3">
            <div class="card-header">
                <h3 class="card-title">Les accords de la COP15</h3>
            </div>
            <p class="card-title">
                Les 195 pays de la COP15 se sont mis d’accord sur un objectif commun : protéger 30 %
                des terres et des océans d'ici à 2030. Et ainsi éviter la création d'infrastructures polluantes là ou se
                trouve la biodiversité la plus riche.
            </p>
        </div>
        <div class="col card ms-3">
            <div class="card-header">
                <h3 class="card-title">L'exploit de la Wallonie</h3>
            </div>
            <p class="card-title">
                La Wallonie, petit territoire de 3,6 millions d'habitants, a réussi à réduire ses émissions de gaz à effet de serre
                de 30% en 30 ans. C'est un exemple à suivre pour les autres régions du monde.
            </p>
        </div>
    </div>
    <div class="container-fluid row align-items-center pt-3">
        <div class="col card me-3">
            <div class="card-header">
                <h3 class="card-title">Un peu partout dans le monde</h3>
            </div>
            <p class="card-title">
                Des actions sont entreprises pour lutter contre la pollution plastique et promouvoir le bien-être animal.
            </p>
        </div>
        <div class="col card ms-3 me-3">
            <div class="card-header">
                <h3 class="card-title">Un peu partout dans le monde</h3>
            </div>
            <p class="card-title">
                Les villes représentent une grande opportunité pour l'action climatique en réduisant leur consommation d'énergie et de matériaux.
            </p>
        </div>
        <div class="col card ms-3">
            <div class="card-header">
                <h3 class="card-title">Un peu partout dans le monde</h3>
            </div>
            <p class="card-title">
                De nombreux pays investissent dans les énergies renouvelables telles que l'énergie solaire, éolienne et hydraulique.
            </p>
        </div>
    </div>
</div>

{% endblock %}