{% extends 'base.html' %}
{% load static %}
{% block head %}
<script src="{% static 'js/quizz.js' %}" defer></script>
<style>
    .hidden{
        display: none !important;
    }
    .full{
        height: 100vh;
    }
</style>
{% endblock %}
{% block content %}

<div id="result" class="container mt-5 full ">
    <div class="row justify-content-center-md">
        <div class="col-md-12 ">
            <h1 class="text-center title " id="scoreResult">Bienvenue sur le quizz !</h1>
            <p class="text-md-center  font-weight-bold mt-4 " id="textResult">Testez vos connaissances</p>
        </div>
    </div>
    
    
</div>




<div id="welcome" class="container mt-5 full ">
    <div class="row justify-content-center-md">
        <div class="col-md-12 ">
            <h1 class="text-center title ">Bienvenue sur le quizz !</h1>
            <p class="text-md-center  font-weight-bold mt-4 " >Testez vos connaissances</p>
        </div>
    </div>
    
    <div class="row justify-content-center-md ">
        <div class="col-md-12 text-center ">
            <button id="start" class="btn btn-primary btn-lg active w-100 h-100" role="button" aria-pressed="true">Commencez le Test</button>
        </div>
       
    </div>
</div>










<div id="maingame" class="container mt-5 full">
    <div class="row justify-content-center-md">
        <div class="col-md-12 ">
            <h1 class="text-center title " id="qtitle">Question 22 </h1>
            <p class="text-sm font-weight-bold mt-4 " id="qtext">{% lorem 1 b random %}</p>
        </div>
    </div>
    
    <div class="row justify-content-center-md ">
        <div class="col-md-6 text-center mt-5">
            <button id="choice1" class="btn btn-primary btn-lg active w-100 h-100" role="button" aria-pressed="true">{% lorem 5 w random %}</button>
        </div>
        <div class="col-md-5 text-center mt-5">
            <button id="choice2" class="btn btn-primary btn-lg active w-100 h-100" role="button" aria-pressed="true">{% lorem 5 w random %}</button>
        </div>
    </div>

    <div class="row justify-content-center-md ">
        <div class="col-md-6 text-center mt-5">
            <button id="choice3" class="btn btn-primary btn-lg active w-100 h-100" role="button" aria-pressed="true">{% lorem 5 w random %}</button>
        </div>
        <div class="col-md-5 text-center mt-5">
            <button id="choice4" class="btn btn-primary btn-lg active w-100 h-100" role="button" aria-pressed="true">{% lorem 5 w random %}</button>
        </div>
    </div>

</div>
{% endblock %}