@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;

}

p{
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
