#logo_header {
  background-image: url(/static/img/logo_base.svg);
  height: 64px;
  width: 100%;
  max-width: 75%;
  background-size:contain;
  background-repeat: no-repeat;
}
  
#logo_header:hover {
  background-image: url(/static/img/logo_apo.svg); }
#h1404{
  font-family: Inter;
font-size: 7vw;
font-style: normal;
font-weight: 700;
line-height: normal;
}