{% extends 'base.html' %}
{% load static %}
{% block theme %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme_apocalypse.css' %}">
{% endblock %}
{% block content %}

<div class="container-fluid d-grid p-5">
    <div class="container-fluid row text-center">
        <h1 class="col">Les conséquences du réchauffement climatique</h1>
    </div>
    <div class="row align-items-center">
        <div class="col ps-5">
            <div class="container-fluid justify-content-center">
                <h2>Quelque définitions utiles avant de commencer :</h2>
                <div class="container-fluid d-grid">
                    <div class="row">
                        <div class="col card me-3">
                            <h3 class="card-title">Le climat, c'est quoi ?</h3>
                            <p>
                                La notion de "climat" désigne l'ensemble des conditions météorologiques moyennes sur
                                une longue période, comme la température, l'humidité, les précipitations, etc.
                                En d'autres termes, c'est une vision globale des conditions atmosphériques dans une région donnée.
                            </p>
                        </div>
                        <div class="col card ms-3">
                            <h3 class="card-title">L'effet de serre, c'est quoi ?</h3>
                            <p>
                                Le système terrestre est en équilibre entre l’énergie solaire reçue et les radiations
                                renvoyées vers l’espace, le gaz à effet de serre forme une “barrière” permettant de retenir
                                la chaleur provenant du soleil. De la même façon qu’une serre qui retient la chaleur à l’aide des parois de verre.

                            </p>
                        </div>
                    </div>
                    <br><br>
                    <div class="container-fluid d-grid">
                        <div class="row">
                            <div class="col card me-3">
                                <h3 class="card-title">Quel est le rôle de l'effet de serre ?</h3>
                                <p>
                                    L’effet de serre permet de réguler la température terrestre en maintenant
                                    une température stable à +15°C, sans l’effet de serre il ferait -18°C.
                                    Il est présent en faible quantité dans l’atmosphère et la moindre modification de celle-ci
                                    peut avoir des conséquences sur la température moyenne globale

                                </p>
                            </div>
                            <div class="col card ms-3">
                                <h3 class="card-title">Le GIEC c'est quoi ?</h3>
                                <p>
                                    Le GIEC (Groupe d’experts intergouvernemental sur l’évolution du climat) est un organisme
                                    de l’ONU chargé d’évaluer, à travers la publication régulière de rapports,
                                    l’ensemble des connaissances scientifiques relatives au changement climatique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <img src="{% static 'img/planeteenfeu.jpg' %}" alt="fireearth" class="img-fluid col">
    </div>
</div>

<div class="card rounded-0 d-grid bg-primary-light ps-3">
    <div class="card-body text-dark col pt-5 pb-5">
        <h1 class="card-title row">Qui est responsable ?</h1>
        <p class="card-text row">
            Dès son premier rapport en 1990, le GIEC a étudié l’hypothèse disant que les humains sont responsables du
            réchauffement climatique et l’a confirmé en 2021.<br>
            Les activités humaines sont, sans aucun doute, responsables du réchauffement climatique.
        </p>
        <a href="/" class="btn btn-secondary text-dark row">Explorer les conséquences...</a>
    </div>
    <p class="text-dark">Ou continuez à défiler pour constater les conséquences des actions de l'homme.</p>
</div>

<div class="container-fluid d-grid flex-column p-5">
    <div class="container-fluid row align-items-center pb-3">
        <img src="{% static 'img/consequenceschangementclimatique.jpg' %}" alt="placeholder" class="img-fluid col">
        <div class="container-fluid justify-content-center p-5 col">
            <h2>L’impact de l’Homme sur le climat</h2>
            <p>
                L'impact de l'homme sur le climat est indéniable et profondément significatif. Les activités humaines,
                notamment la combustion massive de combustibles fossiles, la déforestation et l'industrialisation,
                libèrent d'énormes quantités de gaz à effet de serre dans l'atmosphère.
                <br><br>
                Ces gaz, tels que le dioxyde de carbone (CO2) et le méthane (CH4), créent une couche isolante qui retient la chaleur du soleil,
                provoquant ainsi le réchauffement climatique. Les conséquences de cette perturbation climatique sont multiples :
                des événements météorologiques extrêmes tels que les ouragans et les vagues de chaleur,
                des modifications des régimes de précipitations, la fonte des glaciers et des calottes glaciaires,
                et des impacts dévastateurs sur les écosystèmes et la biodiversité.

            </p>
        </div>
    </div>

    <div class="container-fluid row align-items-center pt-3">
        <div class="container-fluid justify-content-center col p-5">
            <p>
                En prenant conscience de cette influence néfaste, il devient impératif d'adopter des pratiques durables,
                de réduire les émissions de gaz à effet de serre et de promouvoir des solutions respectueuses de l'environnement
                pour atténuer les effets du changement climatique.
            </p>
        </div>
    </div>
</div>

<div class="card rounded-0 d-grid bg-secondary ps-3">
    <div class="card-body pt-5 pb-5 col">
        <h1 class="card-title row">Comment réduire son impact sur le climat</h1>
        <p class="card-text row">
            Le plus simple pour réduire ses émissions est déja d’etre au courrant de notre impact
            cliquez sur le bouton ci-dessous pour calculer votre impact sur le climat.
        </p>
        <a href="/calculateur" class="btn btn-primary text-light row">Calculer votre impact</a>
    </div>
    <p>Ou continuez votre lecture avec les conséquences du changement climatique</p>
</div>

<div class="container-fluid d-grid flex-column p-5">
    <div class="container-fluid row align-items-center pb-3">
        <img src="{% static 'img/glaciers.png' %}" alt="placeholder" class="img-fluid col">
        <div class="container-fluid justify-content-center p-5 col">
            <h2>L’augmentation de la température</h2>
            <p>
                Au cours des dernières décennies, la température moyenne mondiale a augmenté de 1,1°C, avec chaque décennie
                depuis les années 1980 étant plus chaude que la précédente. Selon les experts, cette tendance est sans précédent
                depuis les 2000 dernières années. Les projections indiquent qu'un réchauffement de +1,5°C est probable avant 2040,
                et que des mesures immédiates pour réduire les émissions de gaz à effet de serre pourraient limiter le réchauffement à moins de 2°C.
                Cependant, si les émissions continuent d'augmenter, la planète pourrait connaître un réchauffement de +4°C voire +5°C d'ici 2100,
                avec des conséquences graves pour le climat et l'environnement.
            </p>

            <h2>La fonte des glaciers et la montée des eaux</h2>
            <p>
                En plus de la hausse des températures, deux autres facteurs indiquent une situation climatique critique.<br>

                La fonte de la cryosphère (c’est à dire la fonte du manteau neigeux, de la banquise et des glaciers de montagne,
                du Groënland ou de l’Antarctique) : depuis les années 1960, le manteau neigeux s’est réduit en moyenne de 11,7 %
                (au mois de juin) par décennie dans l’hémisphère nord. Parallèlement, le niveau moyen de la mer a augmenté de 20 cm entre 1901 et 2018.
                C’est un rythme plus rapide qu'au cours des 3000 dernières années. Cette tendance devrait se poursuivre au 21e siècle,
                avec une élévation attendue de plusieurs dizaines de centimètres, ce qui aura des conséquences significatives pour les régions côtières
                de faible altitude.

            </p>
        </div>
    </div>
    <div class="container-fluid row align-items-center pb-3">
        <p class="col">
            Une personne sur dix dans le monde habite dans une zone menacée par la montée des eaux.<br><br>

            Les côtes françaises, s'étendant sur environ 5500 km abritent des millions d'habitants et sont essentielles pour l'économie.
            Notamment dans des villes telles que Calais, Dunkerque, Marseille et Nice. Ces régions côtières, directement exposées
            et dont l’économie repose en grande partie sur la mer et la pêche, sont particulièrement vulnérables à la montée des eaux et à ses conséquences,
            autant économiques que matérielles.

            Les territoires d'outre-mer, tels que la Martinique, la Guadeloupe, Mayotte et la Réunion, sont également
            confrontés à des risques liés aux changements climatiques, notamment l'érosion côtière, les submersions et
            les inondations causées par les tempêtes tropicales. En cas d'élévation d'un mètre du niveau des mers, de nombreuses
            infrastructures terrestres en France seraient menacées, avec des kilomètres d'autoroutes, de routes nationales, départementales
            et voies ferrées susceptibles d'être engloutis.
        </p>
    </div>
</div>

<div class="card rounded-0 d-grid bg-secondary ps-3">
    <div class="card-body pt-5 pb-5 col">
        <h1 class="card-title row">Et en plus de tout ça...</h1>
        <p class="card-text row">
            La probabilité de phénomènes météorologiques extrêmes tels que les vagues de chaleur, les sécheresses et les inondations
            est plus élevée que jamais... Les experts prévoient que ces événements météorologiques extrêmes deviendront de plus en plus fréquents
        </p>
    </div>
</div>

<div class="container-fluid d-grid flex-column p-5">
    <div class="container-fluid row align-items-center pb-3">
        <div class="container-fluid justify-content-center p-5 col">
            <h2>L’augmentation de la température</h2>
            <p>
                Le sixième rapport du GIEC de 2021 indique que les vagues de froid ont diminué, tandis que les vagues de chaleur
                et les fortes précipitations sont devenues plus fréquentes et intenses. Le GIEC affirme que plusieurs extrêmes
                de chaleur observés au cours de la dernière décennie auraient été improbables sans l'influence humaine sur le climat.
                Toute augmentation supplémentaire de la température moyenne globale, même de quelques dixièmes de degré, augmentera l'intensité
                et la fréquence de ces événements extrêmes. Les températures très chaudes sur les continents sont désormais 2,8 fois plus probables
                d'être atteintes qu'au XIXe siècle, et cette tendance s'accentuera avec l'augmentation de la température. Par exemple, avec un réchauffement
                mondial de 1,5°C, les pics de températures extrêmes seront 4,1 fois plus fréquents, et à +4°C, leur fréquence sera multipliée par 9,4.
                De plus, ces événements extrêmes seront également plus intenses, avec des fortes précipitations devenant de plus en plus abondantes
                et les sécheresses devenant plus fréquentes et intenses à mesure que la température globale augmentera.

            </p>
        </div>
    </div>
</div>
{% endblock %}