
{% extends 'base.html' %}
{% load static %}
{% block head %}

<script src="{% static 'js/tetris.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/tetris.css' %}">

{% endblock %}
{% block content %}

<section id="404section" class="d-flex flex-column justify-content-center align-items-center text-center"> 
    <h1 id="h1404">OOPS ! <br> On a perdu votre page :(</h1>
    <p>Mais vous pouvez jouer a tetris ╰(*°▽°*)╯ (attention à la montée des eaux) </p>
    <button class="btn btn-secondary z-3" id="boutonJouer" >Jouer !</button>
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
</section>

<section id="tetris" class="d-none">
    <button onclick="instructions();">Instructions</button>
    <div class="game_div">
        <div class="gm_canvas">
            <canvas width="320" height="640" id="game"></canvas>
            <button onclick="reset();">Commencer</button>
        </div>
        <div class="game_info">
            <div>
                <label for="rhythm_enabled">Mode rythme :</label>
                <input type="checkbox" id="rhythm_enabled"/>
            </div>
            <div id="timing_indicator">LÀ !</div>
            <div class="level_counter">
                <p>Niveau :</p>
                <p id="level_no">1</p>
            </div>
            <div class="score_display">
                <p id="score_p">Score :</p>
                <p id="score_display">000000</p>
            </div>
            <div>
                <p>Lignes effacées :</p>
                <p id="line_count">0</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}