// Create a new theme 

// Import the default variables
//@import 'node_modules/bootstrap/scss/_variables';

// Override the default variables


$theme-colors: (

  primary: #BC1A12,
  // light primary
  primary-light: #66211E,
  // base background
    base: #242321,

  secondary: #D66E19,
    // light secondary
    secondary-light: #D58D17,
    // dark
    dark : #EFEFEF,
    // appocalipse

);




@import 'node_modules/bootstrap/scss/bootstrap';

