// Create a new theme 

// Import the default variables
//@import 'node_modules/bootstrap/scss/_variables';

// Override the default variables


$theme-colors: (

  primary: #126632,
  // light primary
  primary-light: #47A66B,
  // base background
    base: #F1FFF2,

  secondary: #0E688B,
    // light secondary
    secondary-light: #9DC3DA,
    // dark
    dark : #121212,
    // appocalipse

);




@import 'node_modules/bootstrap/scss/bootstrap';

