{% extends 'base.html' %}
{% load static %}
{% block head %}


{% endblock %}
{% block content %}
<section class="container">
    <h1>Pitch Ubisoft</h1>  
    <div class="d-flex align-items-center gap-3 ">
        <img height="128" src="{% static 'img/logojeu.svg' %}" >
        <p>Alors que les changement d'état térraser la France durant le XIX siècle, un Templier du nom de Henri de Toulouse-Lautrec s'empara d'un fragment d'eden permettant de controler l'eau.
            Cependant l'Animus permit à un jeune chimiste Occitan de revenir dans la peau d'un de ces ancetres, Paul Sabatier, un assassin de cet époque. Une aventure commenca alors dans les rues animées de Bordeaux afin d'arreter Henri qui menace de plonger la France sous l'eau. Notre jeune assassin sera aider par des figures francaise tel que Pierre et Marie Curie. Assassin's Creed NatuRévolution permettra de faire evoluer la vision sur l'importance du changements climatique qui provoque la montée des eaux et qui est dangereux pour l'humanité.</p>


    </div>
    <a href="/ubisoft/parti1"  class="btn btn-primary ">Jouer au jeu</a>  
</section>


{% endblock %}