{% extends "base.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign In" %}
    {% endelement %}

    <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card shadow">
              <div class="card-title text-center border-bottom">
                <h2 class="p-3">Login</h2>
              </div>
              <div class="card-body">
                <form method="post" action="/accounts/login/" data-bitwarden-watching="1">
                    {% csrf_token %}
                  <div class="mb-4">
                    <label for="username" class="form-label">Username/Email</label>
                    <input type="text" class="form-control" name="login" placeholder="Username" autocomplete="username" maxlength="150" required="" id="id_login" />
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="current-password" required="" aria-describedby="id_password_helptext" id="id_password">
                    <span class="helptext" id="id_password_helptext"><a href="/accounts/password/reset/">Forgot your password?</a></span>
                  </div>
                  <div class="mb-4">
                    <input type="checkbox" class="form-check-input" name="remember" id="id_remember">
                    <label for="id_remember" class="form-label" >Remember Me:</label>
                  </div>
                  <div class="d-grid">
                    <button type="submit" class="btn text-light main-bg">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <p>
        {% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
    {% url 'account_login' as login_url %}
    <form method="post" action="/accounts/login/" data-bitwarden-watching="1">
    
</form>
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %}
