{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow">
          <div class="card-title text-center border-bottom">
            <h2 class="p-3">Logout</h2>
          </div>
          <div class="card-body">
            <form method="post" action="/accounts/logout/">
                {% csrf_token %}
            
                
            <p>Voulez vous vraiment vous deconnecter ? </p>
            <button class="btn btn-primary" type="submit">
            
                    Deconnexion
                
            </button>
            
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
