{% extends 'base.html' %}
{% load static %}
{% block head %}

    <script src="{% static 'js/calculateur.js' %}" defer></script>
{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center ">
            <button class="btn btn-secondary opacity-0" id="backButton">Retour</button>
            <h5 class="card-title">Question <span id="questionNumberDisplay">1</span></h5>
          </div>
          <div class="card-body">
            <form id="calculateur_form" action="">
              <!-- Your form content goes here -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}